<%- include('partials/nav') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express validator</title>
    <style>
        body{
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: rgb(156, 170, 156);
        }
    </style>
</head>
<body>
    
<!-- <div class="container mt-5"> -->
</div>
    <form action="/registrar" method="POST">
        <div class="mb-3">
          <label for="nya" class="form-label">Nombre completo</label>
          <input type="text" class="form-control" id="nya" name="nya">
        </div>

        <div class="mb-3">
            <label for="correo" class="form-label">correo</label>
            <input type="text" class="form-control" id="correo" name="correo">
        </div>

        <div class="mb-3">
            <label for="edad" class="form-label">Edad</label>
            <input type="text" class="form-control" id="edad" name="edad">
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>

<!-- <% if(typeo validaciones != "undefined"){ %>}
    <% validaciones.forEach( (validacion)=>{ %>
          
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> <%= validacion.msg %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>  
      <% }) %>
    <% } %> -->

<!-- </div> -->

</html>
<%- include('partials/footer') %>
